{% extends "layout.html" %}

{% block title %}
Adding new App
{% endblock %}

{% block main %}
<form action="/adding" method="post">
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="app_name" placeholder="App Name" type="text">
    </div>
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="login" placeholder="Login" type="text">
    </div>
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="additional" placeholder="Additional" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Adding</button>
</form>
{% endblock %}