{% extends "layout.html" %}

{% block title %}
Infinity
{% endblock %}

{% block main%}
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>App Name</th>
        <th>Login</th>
        <th>Password</th>
        <th>Additional</th>
    </thead>
    <tbody>
        {% for app in apps %}
            <tr>
                <td>{{ app[1] }}</td>
                <td>{{ app[2] }}</td>
                <td>{{ app[3] }}</td>
                <td>{{ app[4] }}</td>
                <td>{{ app[5] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}