{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}
{% block main %}
<form action="/register" method="post">
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="username" placeholder="Username" type="text" minlength="6">
    </div>
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="firstname" placeholder="First Name" type="text" minlength="2">
    </div>
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="surname" placeholder="Surname" type="text" minlength="2">
    </div>
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="email" placeholder="Email" type="email" size="20">
    </div>

    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="password" placeholder="Password" type="password" minlength="8">
    </div>
    <div class="form-group">
        <input class="input" autocomplete="off" autofocus name="confirmation" placeholder="Confirm Password" type="password" minlength="8">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}